* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1{

}

.main{
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    height: 25rem;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
    background-color:bisque;
    position : sticky;
    top: 0;
}

#navbar img {
    height: 10rem;
    width: 20rem;
}

#navbar .nav-links {
    display: flex;
    align-items: center;
    gap:20px;
}

#navbar .nav-links .active{
    text-decoration: underline;
}

#navbar .nav-links a {
    color:blue;
    font-size: 20px;
}

#navbar .nav-links a:hover {
    color:red;
    transition: 1s;
}

#navbar .login a {
    border: 1px solid transparent;
    padding: 1rem;
    background-color: orange;
    color: white;
    border-radius: 10px;
}

#navbar .login a:hover {
    transition: 1s ease-out;
    background-color: rgb(34, 34, 160);
}

/* PERTEMUAN KEDUA */

#main-content {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    width: max-content;
    gap: 1rem;
    height: 24rem;
}

#main-content img {
    width: 30rem ;
}

#main-content .description {
    text-align: center;
}

#main-content .description h1{
    font-size: 30px;
}

#main-content .description p{
    font-size: 14px;
}

#main-content-2 {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    width: max-content;
    gap:1rem;
    height: 24rem;
}

#main-content-2 img {
    width: 30rem ;
}

#main-content-2 .description {
    text-align: center;
}

#main-content-2 .description h1{
    font-size: 30px;
}

